ul{
	display: flex;
}
.container{
	display: flex;
}
.logo{
	width: 133px;
	height: 31px;
	margin: 25px 534px 25px 95px;
}
li{
	font-family: raleway;
	color: #303134;
	margin-top: 35px;
	margin-right:48px ;
}
.home{
	margin-right: 47px;
}
.baner{
	width: 1360px;
	height:569px;
	position: relative;
}
.banerh2{
	position: absolute;
	left: 386px;
	top: 226px;
	font-size: 78.74051666259766px;
	color: #ffffff;
	font-family:Arial;
}
.banerp{
	position: absolute;
	top: 335px;
	left: 523px;
	font-family: raleway;
	font-size: 18px;
	color: #ffffff;
}
.about{
	display: inline-block;
	margin: 95px 41px 0 95px ;
	vertical-align: top;
}
.about p{
	width: 242px;
	height: 145px;
	margin-top: 45px;
	font-size: 16px;
	font-family: raleway;
	color: #8d8d8d;
}
.about h3{
	margin-bottom: 13px;
	font-size: raleway;
	color: #8d8d8d;
	font-size: 16px;
}
.about h2{
	font-size: 26px;
	color: #1a1a1b;
	font-family:raleway ;
}
.plane{
	margin-top: 95px;
	display: inline-block;
	width: 301px;
	height: 327px;
	font-family: raleway;		
}
.plane img{
	width: 281px;
	height: 177px;
	margin-left: 10px;
}
.plane h2{
	margin: 20px 0px 12px 10px;
	font-size: 18px;
	color: #1a1a1b;	
}
.plane p {
	margin-left: 10px;
	width: 271px;
	height: 94px;
	font-size: 16px;
	color: #8d8d8d;
}
.pool{
	display: inline-block;
	margin: 95px 3px 0px 3px;
	width: 296px;
	height: 327px;
	vertical-align: top;
}
.pool img{
	width: 276px;
	height: 177px;
	margin-left: 10px;
}
.pool h2{
	margin: 20px 0px 12px 10px;
	font-size: 18px;
	color:#1a1a1b;
	font-family:raleway ;
}
.pool p{
	width: 268px;
	height: 94px;
	font-size: 16px;
	font-family: raleway;
	color: #8d8d8d;
	margin-left: 10px;
}
.family{
	margin-top: 95px;
	display: inline-block;
	width: 301px;
	height: 327px;
	font-family: raleway;		
}
.family img{
	width: 276px;
	height: 177px;
	margin-left: 10px;
}
.family h2{
	margin: 20px 0px 12px 10px;
	font-size: 18px;
	color:#1a1a1b;
	font-family:raleway ;
}
.family p{
	width: 268px;
	height: 94px;
	font-size: 16px;
	color: #8d8d8d;
	margin-left: 10px;
}
.ship{
	display: inline-block;
	width: 301px;
	height: 337px;
	margin-top: 3px;
	margin-left: 382px;

}
.ship img{
	width: 281px;
	height: 177px;
	margin-left: 10px;
}
.ship h2{
	margin: 20px 0px 12px 10px;
	font-size: 18px;
	color:#1a1a1b;
	font-family:raleway ;
}
.ship p{
	width: 268px;
	height: 94px;
	font-size: 16px;
	color: #8d8d8d;
	margin-left: 10px;
}
.space{
	width: 296px;
	height: 327px;
	margin-top: 3px;
	margin-left: 3px;
	display: inline-block;
}
.space img{
	width: 276px;
	height: 177px;
	margin-left: 10px;
}
.space h2{
	margin: 20px 0px 12px 10px;
	font-size: 18px;
	color:#1a1a1b;
	font-family:raleway ;
}
.space p{
	width: 268px;
	height: 94px;
	font-size: 16px;
	color: #8d8d8d;
	margin-left: 10px;
}
.office{
	width: 296px;
	height: 327px;
	margin-top: 3px;
	margin-left: 3px;
	display: inline-block;
}
.office img{
	width: 279px;
	height: 177px;
	margin-left: 10px;
}
.office h2{
	margin: 20px 0px 12px 10px;
	font-size: 18px;
	color:#1a1a1b;
	font-family:raleway ;
}
.office p{
	width: 268px;
	height: 94px;
	font-size: 16px;
	color: #8d8d8d;
	margin-left: 10px;
}
